version: '3'

services:
  db:
    ports:
      - "5433:5432"
  web_service:
    volumes:
      - "./src/metrobus_api:/app"
    ports:
      - "8000:8000"
  message_broker:
    ports:
      - "5673:5672"
